@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #14181c;
}

@font-face {
  font-family: "Graphik Web";
  src: url("/fonts/Graphik-Regular-Web.woff2") format("woff2"),
    url("/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* This helps with performance */
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #14181c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: "Graphik Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* custom colors */

@theme {
  --color-mainbg: #14181c;
  --color-corange: #ff8000;
  --color-cgray: #99aabb;
  --color-cgraysearch: #2c3440;
  --color-cgreen: #00ac1c;
  --color-bgfooter: #202834;
  --color-cardgray: #445566
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, #000 90%, #0000);
  background: var(--_g) 50% 0, var(--_g) 0 100%, var(--_g) 100% 100%;
  background-size: 35% calc(35% * 1.154);
  animation: l16 1s infinite;
}
@keyframes l16 {
  50%,
  100% {
    background-position: 100% 100%, 50% 0, 0 100%;
  }
}
